@font-face {
  font-family: "Flexa Regular";
  src: url(./assets/fonts/flexa_regular.otf);
}

@font-face {
  font-family: "Flexa Medium";
  src: url(./assets/fonts/flexa_medium.otf);
}

@font-face {
  font-family: "Flexa Bold";
  src: url(./assets/fonts/flexa_bold.otf);
}

@font-face {
  font-family: "Flexa Black";
  src: url(./assets/fonts/flexa_black.otf);
}

@font-face {
  font-family: "Bau Regular";
  src: url(./assets/fonts/bau_regular.woff2);
}

.interface {
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  margin: 20px;
  pointer-events: none;
}

.panel {
  background: var(--cream);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 230px;
}

.title {
  margin: 15px 0;
}

.title-line {
  font-family: "Flexa Medium";
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

.color-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 110px;
}

.color-button {
  font-family: "Bau Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-bottom: 10px;
}

.color-button-text {
  font-family: "Bau Regular";
  font-size: 10px;
  text-align: center;
  max-width: 11ch;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navigation-buttons .navigation-button:first-child {
  border-right: 1px solid var(--black);
}

.navigation-button {
  font-family: "Flexa Black";
  font-size: 18px;
  border-top: 1px solid var(--black);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 0;
}
