.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--brown);
}

.wordmark {
  width: 172px;
  margin-bottom: 40px;
}

.home-main {
  position: relative;
  height: 370px;
}

.tagline-vertical {
  width: 194px;
}

.boot {
  width: 153px;
  position: absolute;
  bottom: 4px;
  left: 25px;
  z-index: 3;
}

.customize-button {
  color: var(--white);
  background: var(--black);
  border-radius: 50px;
  margin-top: 70px;
  padding: 16px 30px;
  font-family: "Flexa Black";
  font-size: 18px;
}
