:root {
  --white: #ffffff;
  --cream: #fffcee;
  --brown: #cf780f;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: none;
}

html,
body {
  overscroll-behavior: contain;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
