* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
